.li-button {
    font-family: "Airbnb-Bold";
    font-weight: bold;
    padding: 12px 1.5rem;
    transition: 0.3s all;
    &.small{
        padding: 10px 1rem;  
        font-size: 0.9rem;
    }
    &.gray{
        color: black;
        background-color: $color-light;
        &:hover {
            background-color: $color-light-active;
        }
    }
    &.primary {
        background-color: $color-primary;
        color: white;
        &:hover {
            background-color: $color-primary-active;
        }
    }
    &.light {
        background-color: white;
        color: black;
        &:hover {
            background-color: $color-light-active;
        }
    }

}