.links-container{
    a{
        display: block;
        text-decoration: none;
    }
}
#lvl-h2020-container{
    background: url(../img/h2020.png);
    background-size: contain;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 300px;
    height: 200px;
}