#li-navbar{
    &.bright{
        background-color: white;
        a{
            color: black;
        }
    }
    &:not(.bright){
        a:not(.dropdown-item){
            color: white;
        }
        &.active-class{
            box-shadow: 0 1rem 3rem rgba(0,0,0,0.175)!important;
            -moz-box-shadow: 0 1rem 3rem rgba(0,0,0,0.175)!important;
            -webkit-box-shadow: 0 1rem 3rem rgba(0,0,0,0.175)!important;
            background-color: white;
            a{
                color: black;
            }
            transition: all 0.3s;
            .navbar-toggler{
                background-color: $color-light-active;
            }
        }
    }
   
}
.li-navbar-open{
    background-color: white;
    a{
        color: black !important;
    }
}
.navbar-toggler{
    background-color: white;
}
.li-navbar-padding{
    padding-top: calc(5rem + 60px);
}

@media (max-width: 576px) {
    .li-navbar-padding{
        padding-top: 3rem;
    }
}

