.text-left{
    text-align: left;
}

@media (max-width: 576px) {
    .text-xs-center{
        text-align: center;
    }
}

@media (min-width: 576px) {
    .text-xs-center{
        text-align: left;
    }
}

.li-promo-list{
    padding: 0px;
    li{
        padding: 15px 0px;
        border-bottom: 1px solid lightgray;
        font-size: 1rem;
        &:last-child{
            border-bottom: none;;
        }
    }
}

.li-img-placeholder{
    background-color: $color-light;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 300px;
    width: 100%;
    position: relative;
    &.has-overlay{
        &:after{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background-image: linear-gradient(rgba(0,0,0,.55) 60px,transparent 310px);
        }
    }
    &.showcase{
        font-size: 5rem;
        font-family: "Airbnb-Bold";
        small{
            display: block;
            font-size: 15px;
        }
    }
    &.tall{
        min-height: 500px;
    }
    &.light{
        background-color: white;
    }
    &.small{
        min-height: 200px; 
    }
}
.w-80{
    width: 80%;
}
.z-999{
    z-index: 999;
}
.z-1000{
    z-index: 1000;
}


.li-text-crosshair{
    text-decoration: line-through;
    text-decoration-thickness: 2px;
}
.no-link{
    text-decoration: none;
}
/* Spacing */
.mt-n30{
    margin-top: -30px;
}
.mt-n45{
    margin-top: -45px;
}
.pt-e5{
    padding-top: 5rem;
}
.pb-e5{
    padding-bottom: 5rem;
}
.pt-e8{
    padding-top: 8rem;
}
.pt-e12{
    padding-top: 12rem;
}
.pb-e8{
    padding-bottom: 8rem;
}

.li-no-list{
    list-style: none;
}

/*

Img helpers

*/

.li-gallery-masonry-image{
    height: 500px;
}
.li-max-w-300{
    max-width: 300px;
}
.li-grayscale-container{
    img{
        filter: grayscale(100%);
    }
}
.li-max-img-100-container{
    img{
        max-width: 100px;
    }
}

/*

Custom elements

*/

.li-showcase-list{
    border-bottom: 1px solid lightgray;
    &:last-child{
        border-bottom: none;
    }
}

.li-bg-light{
    background-color: $color-light;
}

.li-default-border{
    border-radius: $border-radius;
}

.b-r{
    border-right: 1px solid lightgray;
}

.li-b{
    border: 1px solid lightgray;
}
.li-b-dashed{
    border: 1px dashed lightgray;
}
.li-badge{
    padding: 5px 10px;
    background-color: black;
    color: white;
    border-radius: 50px;
    font-size: 0.8rem;
    display: inline-flex !important;
    &.small{
        padding: 5px 10px;
        font-size: 0.7rem;
      }
    &.absolute-center{
        position: absolute !important;
        left: 50%;
        margin-left: -75px !important;
    }
}

@media (max-width: 576px) {
    .li-bg-white-xs{
        background-color: white !important;
    }
    .pt-e8{
        padding-top: 0rem !important;
    }
    .pb-e8{
        padding-bottom: 0rem !important;
    }
}

