.li-hero {
    position: relative;
    z-index: 999;
    &.fixed-height{
        min-height: 600px;
    }
    &:after{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-image: linear-gradient(rgba(0,0,0,.55) 60px,transparent 310px);
    }
    &.strong-after{
        &:after{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background-image: linear-gradient(rgba(0,0,0,.7) 60px,transparent 510px);
        }
    }
  
}

