@font-face {
    font-family: "Airbnb-Light";
    src: url("../fonts/AirbnbCerealLight.ttf") format("truetype");
  }
  
  @font-face {
    font-family: "Airbnb-Book";
    src: url("../fonts/AirbnbCerealBook.ttf") format("truetype");
  }
  
  @font-face {
    font-family: "Airbnb-Medium";
    src: url("../fonts/AirbnbCerealMedium.ttf") format("truetype");
  }
  
  @font-face {
    font-family: "Airbnb-Bold";
    src: url("../fonts/AirbnbCerealBold.ttf") format("truetype");
  }
  
  @font-face {
    font-family: "Airbnb-Black";
    src: url("../fonts/AirbnbCerealBlack.ttf") format("truetype");
  }
  
  .li-text-spaced{
    letter-spacing: 1px;
  }
  .li-text-09{
      font-size: 0.9rem;
  }
  .li-text-08{
    font-size: 0.8rem;
  }
  .li-text-07{
    font-size: 0.7rem;
  }
  .li-text-1{
    font-size: 1rem;
  }
  .li-text-11{
    font-size: 1.1rem;
  }
  .li-text-12{
    font-size: 1.2rem;
  }
  .li-text-13{
    font-size: 1.3rem;
  }
  .li-text-14{
    font-size: 1.3rem;
  }
  .li-text-15{
    font-size: 1.5rem;
  }
  .li-text-17{
    font-size: 1.7rem;
  }
  .li-text-2{
    font-size: 2rem;
  }
  .li-text-25{
    font-size: 2.5rem;
  }
  .li-text-3{
    font-size: 3rem;
  }
  .li-text-35{
    font-size: 3.5rem;
  }
  .li-text-black{
    font-family: "Airbnb-Black";
  }
  .li-text-bold{
    font-family: "Airbnb-Bold";
  }
  .li-text-normal{
    font-family: "Airbnb-Book";
  }
  .li-text-medium{
    font-family: "Airbnb-Medium";
  }
  .li-text-light{
    font-family: "Airbnb-Light";
  }
  
  @media (max-width: 576px) {
    .li-text-35{
      font-size: 2.2rem;
    }
  }

  @media (min-width: 577px) and (max-width: 992x) {

  }
  @media (min-width: 993px) and (max-width: 1200) {

  }

  @media (min-width: 1200px) {

  }