$color-light: #EFEFEF;
$color-primary: #6657EA;
$color-primary-active: #5145B9;
$color-light-active: #EFEFEF;

$border-radius: 6px;

$theme-colors: (
  "primary":    $color-primary,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark
);

