<div class="py-5 container links-container d-none d-md-block">
  <div class="row">
    <div class="col-md-3 col-12 text-xs-center">
      <h5 class="li-text-bold li-text-1">Ingatlan eladás</h5>
      <a href="#" class="li-text-09">Budapesti ingatlanok</a>
      <a href="#" class="li-text-09">Budapesti ingatlanok</a>
      <a href="#" class="li-text-09">Budapesti ingatlanok</a>
      <a href="#" class="li-text-09">Budapesti ingatlanok</a>
      <a href="#" class="li-text-09">Budapesti ingatlanok</a>
    </div>
    <div class="col-md-3 col-12 mt-3 mt-md-0 text-xs-center">
      <h5 class="li-text-bold li-text-1">Ingatlan keresés</h5>
      <a href="#" class="li-text-09">Budapesti ingatlanok</a>
      <a href="#" class="li-text-09">Budapesti ingatlanok</a>
      <a href="#" class="li-text-09">Budapesti ingatlanok</a>
      <a href="#" class="li-text-09">Budapesti ingatlanok</a>
      <a href="#" class="li-text-09">Budapesti ingatlanok</a>
    </div>
    <div class="col-md-3 col-12 mt-3 mt-md-0 text-xs-center">
      <h5 class="li-text-bold li-text-1">Ingatlan keresés</h5>
      <a href="#" class="li-text-09">Budapesti ingatlanok</a>
      <a href="#" class="li-text-09">Budapesti ingatlanok</a>
      <a href="#" class="li-text-09">Budapesti ingatlanok</a>
      <a href="#" class="li-text-09">Budapesti ingatlanok</a>
      <a href="#" class="li-text-09">Budapesti ingatlanok</a>
    </div>
    <div class="col-md-3 col-12 mt-3 mt-md-0 text-xs-center">
      <h5 class="li-text-bold li-text-1">Ingatlan keresés</h5>
      <a href="#" class="li-text-09">Budapesti ingatlanok</a>
      <a href="#" class="li-text-09">Budapesti ingatlanok</a>
      <a href="#" class="li-text-09">Budapesti ingatlanok</a>
      <a href="#" class="li-text-09">Budapesti ingatlanok</a>
      <a href="#" class="li-text-09">Budapesti ingatlanok</a>
    </div>
  </div>
</div>
<footer class="py-5 container">
  <div class="row">
    <div class="col-6 col-md-2">
      <h5 class="li-text-1 li-text-bold">Eladás</h5>
      <ul class="nav flex-column mt-3">
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted li-text-09">Hagyományos</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted li-text-09">Prémium</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted li-text-09">Bemutatás</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted li-text-09">Csomagok</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted li-text-09">Árbecslés</a></li>
      </ul>
    </div>

    <div class="col-6 mt-md-0 col-md-2">
      <h5 class="li-text-1 li-text-bold">Vétel</h5>
      <ul class="nav flex-column mt-3">
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted li-text-09">Ingatlanportál</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted li-text-09">Újépítésű ingatlanok</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted li-text-09">Visszatérítés</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted li-text-09">Hitel</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted li-text-09">Livlia kisokos</a></li>
      </ul>
    </div>

    <div class="col-12 mt-3 mt-md-0 col-md-2">
      <h5 class="li-text-1 li-text-bold">Livlia</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted li-text-09">Rólunk</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted li-text-09">Díjaink</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted li-text-09">Adatvédelem</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted li-text-09">Kapcsolat</a></li>
      </ul>
    </div>

    <div class="d-none d-md-block col-md-3 offset-md-3 justify-content-end">
      <h5 class="li-text-2 li-text-black mt-0">Livlia</h5>
      <h6 class="li-text-13">Az ingatlanértékesítés új generációja. Tarts velünk!</h6>
    </div>
  </div>

  <div class="d-flex justify-content-between py-4 my-4 border-top">
    <p class="li-text-09">Made in Hungary with <i class="las la-heart text-danger"></i> <span class="float-right"> ©
        2021 Livlia - All rights reserved.</span></p>
    <ul class="list-unstyled d-flex">
      <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24">
            <use xlink:href="#twitter"></use>
          </svg></a></li>
      <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24">
            <use xlink:href="#instagram"></use>
          </svg></a></li>
      <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24">
            <use xlink:href="#facebook"></use>
          </svg></a></li>
    </ul>
  </div>

</footer>
<div id="lvl-h2020-container"></div>
<script src="./js/all.js"></script>

</body>

</html>