<partial src="header.html"></partial>

<!-- Hero section -->
<section class="py-5 text-center container-fluid text-white li-hero"
    style="background: url(https://ssl.cdn-redfin.com/v379.1.1/images/homepage/banners/genHomepageDesktopBanner/HP_2021_Q2_ModernFarmhouse_DESKTOP_HERO_BrighterSky_2.jpg); background-size: cover;">
    <div class="row py-lg-5 d-flex text-left position-relative z-999">
        <div class="col-sm-10 col-12 mx-auto">
            <div class="row py-5">
                <div class="col-md-9 col-12">
                    <h1 class="fw-light li-text-bold li-text-35">Hitelre van szükséged?</h1>
                    <h1 class="li-text-11 li-text-normal">Something short and leading about the collection below—its
                        contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply
                        skip over it entirely.</h1>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End of Hero section -->
<section class="p-5 container-fluid">
  <div class="row">
    <div class="col-md-4">
      <aside class="bd-aside sticky-xl-top text-muted align-self-start mb-3 mb-xl-5 px-2">
        <h2 class="h6 pt-4 pb-3 mb-4 border-bottom">Tartalomjegyzék</h2>
        <nav class="small" id="toc">
          <ul class="list-unstyled">
            <li class="my-2">
              <button class="btn d-inline-flex align-items-center collapsed" data-bs-toggle="collapse" aria-expanded="false" data-bs-target="#contents-collapse" aria-controls="contents-collapse">Contents</button>
              <ul class="list-unstyled ps-3 collapse" id="contents-collapse" style="">
                <li><a class="d-inline-flex align-items-center rounded" href="#typography">Typography</a></li>
                <li><a class="d-inline-flex align-items-center rounded" href="#images">Images</a></li>
                <li><a class="d-inline-flex align-items-center rounded" href="#tables">Tables</a></li>
                <li><a class="d-inline-flex align-items-center rounded" href="#figures">Figures</a></li>
              </ul>
            </li>
            <li class="my-2">
              <button class="btn d-inline-flex align-items-center collapsed" data-bs-toggle="collapse" aria-expanded="false" data-bs-target="#forms-collapse" aria-controls="forms-collapse">Forms</button>
              <ul class="list-unstyled ps-3 collapse" id="forms-collapse">
                <li><a class="d-inline-flex align-items-center rounded" href="#overview">Overview</a></li>
                <li><a class="d-inline-flex align-items-center rounded" href="#disabled-forms">Disabled forms</a></li>
                <li><a class="d-inline-flex align-items-center rounded" href="#sizing">Sizing</a></li>
                <li><a class="d-inline-flex align-items-center rounded" href="#input-group">Input group</a></li>
                <li><a class="d-inline-flex align-items-center rounded" href="#floating-labels">Floating labels</a></li>
                <li><a class="d-inline-flex align-items-center rounded" href="#validation">Validation</a></li>
              </ul>
            </li>
            <li class="my-2">
              <button class="btn d-inline-flex align-items-center collapsed" data-bs-toggle="collapse" aria-expanded="false" data-bs-target="#components-collapse" aria-controls="components-collapse">Components</button>
              <ul class="list-unstyled ps-3 collapse" id="components-collapse">
                <li><a class="d-inline-flex align-items-center rounded" href="#accordion">Accordion</a></li>
                <li><a class="d-inline-flex align-items-center rounded" href="#alerts">Alerts</a></li>
                <li><a class="d-inline-flex align-items-center rounded" href="#badge">Badge</a></li>
                <li><a class="d-inline-flex align-items-center rounded" href="#breadcrumb">Breadcrumb</a></li>
                <li><a class="d-inline-flex align-items-center rounded" href="#buttons">Buttons</a></li>
                <li><a class="d-inline-flex align-items-center rounded" href="#button-group">Button group</a></li>
                <li><a class="d-inline-flex align-items-center rounded" href="#card">Card</a></li>
                <li><a class="d-inline-flex align-items-center rounded" href="#carousel">Carousel</a></li>
                <li><a class="d-inline-flex align-items-center rounded" href="#dropdowns">Dropdowns</a></li>
                <li><a class="d-inline-flex align-items-center rounded" href="#list-group">List group</a></li>
                <li><a class="d-inline-flex align-items-center rounded" href="#modal">Modal</a></li>
                <li><a class="d-inline-flex align-items-center rounded" href="#navs">Navs</a></li>
                <li><a class="d-inline-flex align-items-center rounded" href="#navbar">Navbar</a></li>
                <li><a class="d-inline-flex align-items-center rounded" href="#pagination">Pagination</a></li>
                <li><a class="d-inline-flex align-items-center rounded" href="#popovers">Popovers</a></li>
                <li><a class="d-inline-flex align-items-center rounded" href="#progress">Progress</a></li>
                <li><a class="d-inline-flex align-items-center rounded" href="#scrollspy">Scrollspy</a></li>
                <li><a class="d-inline-flex align-items-center rounded" href="#spinners">Spinners</a></li>
                <li><a class="d-inline-flex align-items-center rounded" href="#toasts">Toasts</a></li>
                <li><a class="d-inline-flex align-items-center rounded" href="#tooltips">Tooltips</a></li>
              </ul>
            </li>
          </ul>
        </nav>
      </aside>
      
    </div>
  </div>
</section>

<!-- Router Block -->
<partial src="router.html"></partial>
<!-- End of Router Block -->
<partial src="footer.html"></partial>