<partial src="header.html"></partial>

<!-- Hero section -->
<section class="pt-e5 pb-e5 text-center container-fluid text-white li-bg-light" style="background:url(https://images.unsplash.com/photo-1603328198605-fd20581ccc4f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80); background-size:cover; background-position-y:center;">
  <div class="row py-lg-5 d-flex text-left position-relative z-999">
    <div class="col-sm-10 col-12 mx-auto">
      <div class="row">
        <div class="col-md-9 col-12">
          <h1 class="fw-light li-text-bold li-text-35">A zökkenőmentes 
            eladás itt kezdődik.</h1>
          <h1 class="li-text-11 li-text-normal">Redfin Agents are local experts who know how to get you the best offer—and you’ll pay a low 1% listing fee when you sell and buy with us.</h1>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End of Hero section -->

<!-- Hero section -->
<section class="text-center container mb-5 mt-n45 z-1000">
    <div class="row">
        <div class="col-12">
            <div class="row d-flex text-left">
                <!-- Block -->
                <div class="col-lg-4 col-md-6 col-12 mx-auto">
                  <div class="bg-white p-4 shadow text-center li-default-border">
                    <h1 class="li-text-black li-text-15">Hagyományos</h1>
                    <ul class="li-no-list li-promo-list mt-3">
                      <li class="li-text-medium">1,5% + Áfa sikerdíj <div class="li-badge li-text-bold ms-1 small">Ennyit fizetsz</div></li>
                      <li class="li-text-medium">Nem kizárólagos szerződés</li>
                      <li class="li-text-medium">Akár több mint 80 ingatlanportál</li>
                      <li class="li-text-medium">Értékesítői támogatás</li>
                      <li class="li-text-medium li-text-crosshair">Lakásbemutatás</li>
                    </ul>
                    <button class="btn li-button primary">Kiválasztom</button>
                  </div>
                </div>
                <!-- End of Block -->
                 <!-- Block -->
                 <div class="col-lg-4 col-md-6 col-12 mt-3 mt-md-0 mx-auto">
                    <div class="bg-white p-4 shadow text-center li-default-border">
                      <h1 class="li-text-black li-text-15">Prémium</h1>
                      <ul class="li-no-list li-promo-list mt-3">
                        <li class="li-text-medium">1% + Áfa sikerdíj <div class="li-badge li-text-bold ms-1 small">Ennyit fizetsz</div></li>
                        <li class="li-text-medium">1% + Áfa vevő oldali sikerdíj</li>
                        <li class="li-text-medium">Profi fotózás <div class="li-badge li-text-bold ms-1 small">Ajándék</div></li>
                        <li class="li-text-medium">Ingatlanséta <div class="li-badge li-text-bold ms-1 small">Ajándék</div></li>
                        <li class="li-text-medium">Félkizárólagos szerződés</li>
                        <li class="li-text-medium">Akár több mint 80 ingatlanportál</li>
                        <li class="li-text-medium">Értékesítői támogatás</li>
                        <li class="li-text-medium li-text-crosshair">Lakásbemutatás</li>
                      </ul>
                      <button class="btn li-button primary">Kiválasztom</button>
                    </div>
                </div>
                <!-- End of Block -->
                 <!-- Block -->
                 <div class="col-lg-4 col-md-6 col-12 mt-3 mt-md-0 mx-auto">
                    <div class="bg-white p-4 shadow text-center li-default-border">
                      <h1 class="li-text-black li-text-15">Bemutatás</h1>
                      <ul class="li-no-list li-promo-list mt-3">
                        <li class="li-text-medium">3% + Áfa sikerdíj <div class="li-badge li-text-bold ms-1 small">Ennyit fizetsz</div></li>
                        <li class="li-text-medium">Nem kizárólagos szerződés</li>
                        <li class="li-text-medium">Akár több mint 80 ingatlanportál</li>
                        <li class="li-text-medium">Értékesítői támogatás</li>
                        <li class="li-text-medium">Lakásbemutatás</li>
                      </ul>
                      <button class="btn li-button primary">Kiválasztom</button>
                    </div>
                </div>
                <!-- End of Block -->
              </div>
        </div>
    </div>
   
  </section>
  <!-- End of Hero section -->
  

<partial src="footer.html"></partial>