<partial src="header.html"></partial>

<section class="cover-container d-flex align-items-center justify-content-center w-100 vh-100 p-3 mx-auto flex-column bg-light" style="background: url(https://images.unsplash.com/photo-1603328198605-fd20581ccc4f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80); background-size: cover;">
  <div>
    <div class="text-white li-text-35 li-text-bold">Kerülj képbe ingatlanod értékével</div>

    <div class="row ">
      <div class="col-12 col-md-8 offset-md-2 col-lg-8 offset-lg-2">

         <!-- Form control -->
         <div class="d-grid d-md-block">
          <div class="input-group d-none d-md-flex mt-4">
            <input type="text" class="form-control p-2 px-3" placeholder="Ingatlanod címe">
            <button class="btn li-button primary" type="button" id="button-addon2">Kérem az értékbecslést</button>
          </div>
          <div class="d-block d-md-none mt-4">
            <div class="input-group">
              <span class="input-group-text" id="basic-addon1"><img src="./img/marker.svg"></span>
              <input type="text" class="form-control" placeholder="Ingatlanod címe" aria-label="Username" aria-describedby="basic-addon1">
            </div>
            <button class="btn li-button primary w-100 mt-2" type="button" id="button-addon2">Kérem az értékbecslést</button>
          </div>
        </div>
        <small class="text-white li-text-07 text-center px-3">*Local Redfin Agents price your home right and make it shine online. Get started with a free consultation.</small>
         <!-- End of Form control -->

     
       
      </div>
    </div>

    <div class="row d-none mt-3">
      <div class="col-12 col-md-8 offset-md-2 col-lg-8 offset-lg-2">
        <div class="bg-white shadow p-4 li-default-border">
          <h4 class="li-text-bold">Ingatlan adatai</h4>
          <div class="row mt-3">
            <div class="col-12 col-md-6">
              <div class="form-floating">
                <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput">Állapot</label>
              </div>
            </div>
            <div class="col-12 col-md-6">
              <div class="form-floating">
                <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput">Méret</label>
              </div>
            </div>
          </div>
          <h4 class="li-text-bold mt-3">További szükséges adatok</h4>
          <div class="row mt-3">
            <div class="col-12 col-md-6">
              <div class="form-floating">
                <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput">Telefonszám</label>
              </div>
            </div>
            <div class="col-12 col-md-6">
              <div class="form-floating">
                <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput">Email cím</label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <!-- Results -->
    <div class=""></div>
    <!-- End of Results -->
  </div>
</section>
  

<partial src="footer.html"></partial>