<partial src="header_white.html"></partial>

<!-- Hero section -->
<section class=" text-center container-fluid ">
    <div class="row">
        <div class="col-lg-6 col-12 pb-e5 mx-auto text-left li-navbar-padding">
            <div class="row">
                <div class="col-12 py-5 px-md-5">
                    <h1 class="fw-light li-text-bold li-text-25">Adj el gyorsan, hatékonyan, csupán 1,5% sikerdíjért.</h1>
                    <h1 class="li-text-11 li-text-normal">Redfin Agents are local experts who know how to get you the best offer—and you’ll pay a low 1% listing fee when you sell and buy with us.</h1>
                    <div class="d-grid d-md-block">
                        <a href="#" class="btn li-button primary mt-3 me-2">Meghirdetés</a>
                        <a href="#" class="btn li-button gray mt-2 mt-sm-3 mt-md-3">Szeretnék többet tudni</a>
                      </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6"
            style="background: url(https://ssl.cdn-redfin.com/v379.1.1/images/merch/generalImages/sidebyside_ouragents_Q3-Photoshoot-SHOT01-A-0351-2x.jpg); background-size: cover;">
        </div>
    </div>
    </div>

</section>
<!-- End of Hero section -->
<!-- Brands -->
<section class="text-center container-fluid li-bg-light li-bg-white-xs">
    <div class="row">
        <div class="col-12 col-md-10 offset-md-1">
            <div class="row py-md-5 d-flex align-items-center text-left">
                <div class="col-lg-12 col-12 col-md-6">
                    <h2 class="li-text-bold li-text-25">Miért adj el a Livliával?</h2>
                </div>
              </div>
            <div class="row pb-md-5 mt-3 mt-md-0">
                <div class="col-12 col-md-4"> <div class="li-img-placeholder d-flex align-items-center p-4 small bg-light">
                    
                    <div class="li-text-bold">
                       <div class="svg pb-3">
                           <img src="./img/clock.svg" alt="">
                        </div>
                        
                       Gyors, nyomon követhető eladás,
                        Professzionális támogatás</div>
                </div></div>
                <div class="col-12 col-md-4 mt-3 mt-md-0"> <div class="li-img-placeholder d-flex align-items-end p-4 small bg-light"> 
                     <div class="li-text-bold">
                        <div class="svg pb-3">
                            <img src="./img/chat.svg" alt="">
                         </div>
                    Óriási elérés, hazai  <br> és nemzetközi ügyfélkör</div></div></div>
                <div class="col-12 col-md-4 mt-3 mt-md-0"> <div class="li-img-placeholder d-flex align-items-end p-4 small bg-light">  <div class="li-text-bold">
                    <div class="svg pb-3">
                        <img src="./img/wallet.svg" alt="">
                     </div>
                    Akár milliós megtakarítás, <br> biztonságos eladás</div></div></div>
            </div>
        </div>
    </div>
</section>
<!-- End of Brands -->
<!-- CTA Block -->
<section class="py-5 text-center container">
    <div class="row py-lg-5 d-flex align-items-center text-left">
        <div class="col-lg-6 col-12 col-md-6 py-lg-5">
            <h1 class="li-text-bold li-text-25">Prémium hirdetések, a legújabb technológia</h1>
        </div>
        <div class="col-lg-6 col-12 col-md-6 mt-3 mt-md-0">
            <div class="px-md-5">
                <div class="li-showcase-list py-3"><h5 class="li-text-bold mb-0">+ 1,5% + Áfa sikerdíj</h5></div>
                <div class="li-showcase-list py-3"><h5 class="li-text-bold mb-0">+ Nem kizárólagos szerződés</h5></div>
                <div class="li-showcase-list py-3"><h5 class="li-text-bold mb-0">+ Automata,  okoshirdetések 80+ ingatlanportálon</h5></div>
                <div class="li-showcase-list py-3"><h5 class="li-text-bold mb-0">+ Érdeklődő előszűrés</h5></div>
                <div class="li-showcase-list py-3"><h5 class="li-text-bold mb-0">+ Átlátható, biztonságos folyamat</h5></div>
            </div>
        </div>
    </div>
</section>
<!-- End of CTA Block -->
<!-- Calculator -->
<section class="py-5 text-center container-fluid li-bg-light li-bg-white-xs">
    <div class="row d-flex text-left">
        <div class="col-lg-10 mx-auto">
            <div class="row py-lg-5 d-flex align-items-center text-left">
                <div class="col-lg-7 col-12 col-md-7 order-2 order-md-1">
                    <div class="li-price-calculator li-default-border shadow-sm p-5 mt-3 mt-md-0 text-center">
                        <h5>Megtakarítás a Livliával</h5>
                        <h1 class="li-text-bold li-text-35">13.000$</h1>
                        <h5>Ingatlan vételára: <span class="text-primary li-text-bold">5.000$</span></h5>
                        <input type="range" class="form-range mt-3 w-80" id="customRange1">
                        <div class="row">
                            <div class="col-6 text-left">
                                0$
                            </div>
                            <div class="col-6 text-right">
                                20.000$
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 col-12 col-md-5 mt-3 mt-md-0 order-1 order-md-2">
                    <div class="px-md-5">
                        <h2 class="li-text-bold li-text-17">Számold ki mennyit nyerhetsz a Livliával!</h2>
                        <div>Sell with a Redfin Agent and pay a 1% listing fee when you buy + sell. You'll get second-to-none service and save thousands.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End of Calculator -->
<!-- Hero section -->
<section class=" text-center container-fluid ">
    <div class="row">
        <div class="col-lg-5"
        style="background: url(https://ssl.cdn-redfin.com/v379.1.1/images/merch/generalImages/sidebyside_ouragents_Q3-Photoshoot-SHOT01-A-0351-2x.jpg); background-size: cover;">
    </div>
        <div class="col-lg-7 col-12 pt-e8 pb-e8 mx-auto text-left">
            <div class="row">
                <div class="col-12 px-3 px-md-5 pt-md-5">
                    <h1 class="li-text-bold li-text-25">Miben különbözik a Livlia?</h1>
                    <table class="table mt-5">
                        <thead>
                          <tr>
                            <th scope="col"></th>
                            <th scope="col">Livlia</th>
                            <th scope="col">Hagyományos <br> ingatlanos</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>Sikerdíj</td>
                            <td>1,5%</td>
                            <td>3,5%-tól</td>
                          </tr>
                          <tr>
                            <td>Hazai ingatlanportálok</td>
                            <td>80+</td>
                            <td>1-20</td>
                          </tr>
                          <tr>
                            <td>Inteligens hirdetések</td>
                            <td><img src="./img/check.svg" width="25" height="25" alt=""></td>
                            <td><img src="./img/not-check.svg" width="25" height="25" alt=""></td>
                          </tr>
                          <tr>
                            <td>Érdeklődői előszűrés</td>
                            <td><img src="./img/check.svg" width="25" height="25"  alt=""></td>
                            <td><img src="./img/not-check.svg" width="25" height="25"  alt=""></td>
                          </tr>
                          <tr>
                            <td>Szerződéskövető rendszer</td>
                            <td><img src="./img/check.svg" width="25" height="25"  alt=""></td>
                            <td><img src="./img/not-check.svg" width="25" height="25"  alt=""></td>
                          </tr>
                          <tr>
                            <td>Ingatlan bemutatás</td>
                            <td><img src="./img/not-check.svg" width="25" height="25"  alt=""></td>
                            <td><img src="./img/check.svg" width="25" height="25"  alt=""></td>
                          </tr>
                        </tbody>
                    </table>

                    
                </div>
                <div class="col-12">
                    <div class="mx-md-4 li-bg-light li-default-border">
                        <div class="p-3 d-flex align-items-center li-text-bold">
        
                                <i class="las la-info-circle la-2x"></i>
                                <div class="ms-3">
                                    Ingatlan bemutatást szeretnél? Tekintsd meg ingatlan bemutatással rendelkező <a href="">hagyományos szerződésünket</a>.
                                </div>
                                
                            
                        </div>
                    </div>
                </div>
                <div class="col-12 text-center mt-3">
                    <div class="d-grid d-md-block">
                        <a href="#" class="btn li-button primary mt-3 me-2">Meghirdetés</a>
                        <a href="#" class="btn li-button gray mt-2 mt-sm-3 mt-md-3">Visszahívást kérek</a>
                      </div>
                </div>
            </div>
        </div>
     
    </div>
    </div>

</section>
<!-- End of Hero section -->
<!-- Router Block -->
<partial src="router.html"></partial>
<!-- End of Router Block -->
<partial src="footer.html"></partial>