<partial src="header.html"></partial>

<!-- Hero section -->
<section class="py-5 text-center container-fluid text-white li-hero"
  style="background: url(https://ssl.cdn-redfin.com/v379.1.1/images/homepage/banners/genHomepageDesktopBanner/HP_2021_Q2_ModernFarmhouse_DESKTOP_HERO_BrighterSky_2.jpg); background-size: cover;">
  <div class="row py-lg-5 d-flex text-left position-relative z-999">
    <div class="col-sm-10 col-12 mx-auto">
      <div class="row py-5">
        <div class="col-md-9 col-12">
          <h1 class="fw-light li-text-bold li-text-35">Hitelre van szükséged?</h1>
          <h1 class="li-text-11 li-text-normal">Something short and leading about the collection below—its
            contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply
            skip over it entirely.</h1>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End of Hero section -->
<!-- Loan types -->
<section class="pb-5 text-center container position-relative mt-n45 z-1000">
  <div class="row d-flex align-items-center text-left">
    <div class="bg-white shadow p-4 li-default-border">
      <div class="row">
        <div class="col-12 col-md-6 b-r d-flex align-items-center">
          <div class="w-100">
            <div class="form-floating mb-3">
              <input type="email" class="form-control mb-0" id="floatingInput" placeholder="name@example.com">
              <label for="floatingInput">Ingatlan vételára</label>
              <small class="text-muted li-text-07">The amount you plan to offer for a home.
              </small>
            </div>
  
            <div class="input-group">
              <input type="text" class="form-control p-3 mb-0" placeholder="Kezdőrészlet">
              <span class="input-group-text" id="basic-addon2">10%</span>
            </div>
            <small class="text-muted li-text-07">Cash you can pay when you close.</small>
  
            <div class="input-group mt-3">
              <label for="customRange1" class="form-label">Futamidő</label>
              <input type="range" class="form-range" id="customRange1">
            </div>
          </div>
        

        </div>
        <div class="col-12 col-md-6">
          <div class="row">
            <div class="col-12 text-center d-flex justify-content-center">
              <div class="w-100">
                <h1 class="li-text-bold">2,300$ <sup>/hó</sup></h1>
                <h4 class="text-muted li-text-1">30 Year Fixed, 4.000% Interest 
                </h4>
                <div class="progress m-auto w-80 mt-3">
                  <div class="progress-bar" role="progressbar" style="width: 15%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
                  <div class="progress-bar bg-success" role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
                  <div class="progress-bar bg-info" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
             
            </div>
          </div>
          <div class="li-b-dashed position-relative p-3 li-default-border mt-5">
            <div>
              <div class="li-badge absolute-center mb-3 li-text-bold mt-n30 position-absolute mx-auto">Kérj egyedi ajánlatot</div>
              <div class="form-floating mb-3">
                <input type="email" class="form-control mb-0" id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput">Email címed</label>
              </div>
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Telefonszám" >
                <button class="btn li-button primary" type="button" id="button-addon2">Kérem az ajánlatot</button>
              </div>
             
            
            </div>


          </div>
        </div>
      </div>
    </div>
</section>
<!-- End of Loan types -->
<!-- Loan types -->
<section class="p-5 text-center container">
  <div class="row d-flex align-items-center">
    <p class="text-muted li-text-1">
      Redfin's mortgage calculator estimates your monthly mortgage payment based on a number of factors. Your mortgage payment includes your principal and interest, down payment, loan term, homeowners insurance, property taxes, and HOA fees. This gives you the ability to compare a number of different home loan scenarios and how it will impact your budget.
    </p>
  </div>
</section>
<!-- End of Loan types -->
<!-- Loan types -->
<section class="text-center container">
  <div class="row py-md-5 py-3 d-flex align-items-center text-left">
    <div class="col-lg-12 col-12 col-md-6">
      <h2 class="li-text-bold li-text-25">Milyen hitel érdekel?</h2>
    </div>
  </div>
  <div class="row d-flex align-items-center text-left">
    <a class="col-12 col-md-4" href="../csomagok.html">
      <div class="li-img-placeholder">
        <h2 class="li-text-bold">Lakáshitel</h2>
      </div>
    </a>
    <a class="col-12 col-md-4 mt-3 mt-md-0" href="../ertekbecslo.html">
      <div class="li-img-placeholder">
        <h2 class="li-text-bold">Babaváró</h2>
      </div>
    </a>
    <a class="col-12 col-md-4 mt-3 mt-md-0" href="../ertekbecslo.html">
      <div class="li-img-placeholder">
        <h2 class="li-text-bold">CSOK</h2>
      </div>
    </a>
  </div>
</section>
<!-- End of Loan types -->
<!-- Router Block -->
<partial src="router.html"></partial>
<!-- End of Router Block -->
<partial src="footer.html"></partial>