<partial src="header.html"></partial>

<!-- Hero section -->
<section class="py-5 text-center container-fluid d-flex align-items-center text-white li-hero fixed-height" style="background: url(https://ssl.cdn-redfin.com/v379.1.1/images/homepage/banners/genHomepageDesktopBanner/HP_2021_Q2_ModernFarmhouse_DESKTOP_HERO_BrighterSky_2.jpg); background-size: cover;">
  <div class="row py-lg-5 d-flex text-left position-relative z-999">
    <div class="col-sm-10 col-12 mx-auto">
      <div class="row">
        <div class="col-md-9 col-12">
          <h1 class="fw-light li-text-bold li-text-35">Hatékony lakáseladás.<br>Milliós megtakarítás.</h1>
          <h1 class="li-text-11 li-text-normal">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</h1>
          <div class="d-grid d-md-block gap-2">
            <a href="#" class="btn li-button primary mt-3">Meghirdetés</a>
            <a href="#" class="btn li-button light mt-2 mt-sm-3 mt-md-3">Szeretnék többet tudni</a>
          </div>
        </div>
      </div>
  
    </div>
  </div>
</section>
<!-- End of Hero section -->
<!-- Brands -->
<section class="text-center container-fluid py-5 li-grayscale-container li-max-img-100-container">
  <div class="row">
    <div class="col-lg-2 col-6 d-flex align-items-center justify-content-center offset-lg-2">
      <img src="img/rtl.png" class="img-fluid" alt="">
    </div>
    <div class="col-lg-2 col-6 d-flex align-items-center justify-content-center">
      <img src="img/tv2.png" class="img-fluid" alt="">
    </div>
    <div class="col-lg-2 col-6 mt-3 mt-md-0 d-flex align-items-center justify-content-center">
      <img src="img/forbes-logo.svg" class="img-fluid" alt="">
    </div>
    <div class="col-lg-2 col-6 mt-3 mt-md-0 d-flex align-items-center justify-content-center">
      <img src="img/portfolio.png" class="img-fluid" alt="">
    </div>
  </div>
</section>
<!-- End of Brands -->
<!-- CTA Block -->
<section class="pb-5 text-center container">
  <div class="row py-lg-5 d-flex align-items-center text-left">
    <div class="col-lg-5 col-12 col-md-6">
        <div class="li-img-placeholder"></div>
    </div>
    <div class="col-lg-7 col-12 col-md-6 mt-3 mt-md-0">
      <div class="px-md-5">
        <h1 class="li-text-bold li-text-25">Add el ingatlanod a legmagasabb áron
          a leggyorsabban.</h1>
          <h2 class="li-text-11">Algoritmusaink és szakértőink segítenek meghatározni ingatlanod optimális árát, így gyorsan, az elérhető legmagasabb áron tudod értékesíteni azt. </h2>
          <div class="d-grid d-md-block">
            <a href="#" class="btn li-button primary my-2">Meghirdetés</a>
            <a href="#" class="btn li-button gray my-0 my-md-2">Visszahívást kérek</a>
          </div>
        </div>
    </div>
  </div>
</section>
<!-- End of CTA Block -->
<!-- CTA Block -->
<section class="py-5 text-center container">
  <div class="row py-lg-5 d-flex align-items-center text-left">
    <div class="col-lg-7 col-12 col-md-6 mt-3 mt-md-0 order-1 order-md-0">
      <div class="pe-md-5">
        <h1 class="li-text-bold li-text-25">Magas hatékonyság. Alacsony jutalék.
          Akár milliós megtakarítás.</h1>
          <h2 class="li-text-11">Algoritmusaink és szakértőink segítenek meghatározni ingatlanod optimális árát, így gyorsan, az elérhető legmagasabb áron tudod értékesíteni azt. </h2>
          <!-- Form control -->
          <div class="d-grid d-md-block">
            <div class="input-group d-none d-md-flex mt-4">
              <input type="text" class="form-control p-2 px-3" placeholder="Ingatlanod címe">
              <button class="btn li-button primary" type="button" id="button-addon2">Kérem az értékbecslést</button>
            </div>
            <div class="d-block d-md-none mt-4">
              <div class="input-group">
                <span class="input-group-text" id="basic-addon1"><img src="./img/marker.svg"></span>
                <input type="text" class="form-control" placeholder="Ingatlanod címe" aria-label="Username" aria-describedby="basic-addon1">
              </div>
              <button class="btn li-button primary w-100 mt-2" type="button" id="button-addon2">Kérem az értékbecslést</button>
            </div>
          </div>
           <!-- End of Form control -->
      </div>
    </div>
    <div class="col-lg-5 col-12 col-md-6 order-0 order-md-1">
        <div class="li-img-placeholder"></div>
    </div>
  
  </div>
</section>
<!-- End of CTA Block -->
<!-- CTA Block -->
<section class="py-5 text-center container">
  <div class="row py-lg-5 d-flex align-items-center text-left">
    <div class="col-lg-5 col-12 col-md-6">
        <div class="li-img-placeholder"></div>
    </div>
    <div class="col-lg-7 col-12 col-md-6 mt-3 mt-md-0">
      <div class="px-md-5">
        <h1 class="li-text-bold li-text-25">58 nap értékesítési idő a 150 napos piaci átlag helyett.</h1>
          <h2 class="li-text-11">Algoritmusaink és szakértőink segítenek meghatározni ingatlanod optimális árát, így gyorsan, az elérhető legmagasabb áron tudod értékesíteni azt. </h2>
          <div class="d-grid d-md-block">
            <a href="#" class="btn li-button primary my-2">Meghirdetés</a>
            <a href="#" class="btn li-button gray my-md-2">Hogyan működik?</a>
          </div>
      </div>
      
    </div>
  </div>
</section>
<!-- End of CTA Block -->
<!-- Callback section -->
<section class="py-5 text-center container-fluid li-bg-light">
  <div class="row d-flex text-left">
    <div class="col-lg-10 mx-auto">
      <div class="row py-lg-5 d-flex align-items-center text-left">
        <div class="col-lg-5 col-12 col-md-5">
            <div class="li-img-placeholder tall light" style="background: url(https://ssl.cdn-redfin.com/v379.2.1/images/sellerConsult/redfin-agents.jpg); background-size: cover;"></div>
        </div>
        <div class="col-lg-7 col-12 col-md-7 mt-3 mt-md-0">
          <div class="px-md-5">
            <h2 class="li-text-bold li-text-25">Beszélj egy Livlia tanácsadóval</h2>
              <h2 class="li-text-11">Algoritmusaink és szakértőink segítenek meghatározni ingatlanod optimális árát, így gyorsan, az elérhető legmagasabb áron tudod értékesíteni azt. </h2>
              <!-- Form control -->
          <div class="d-grid d-md-block">
            <div class="input-group d-none d-md-flex mt-4">
              <input type="text" class="form-control p-2 px-3" placeholder="Telefonszámod">
              <button class="btn li-button primary" type="button" id="button-addon2">Visszahívást kérek</button>
            </div>
            <div class="d-block d-md-none mt-4">
              <div class="input-group">
                <span class="input-group-text" id="basic-addon1"><img src="./img/phone.svg"></span>
                <input type="text" class="form-control" placeholder="Ingatlanod címe" aria-label="Username" aria-describedby="basic-addon1">
              </div>
              <button class="btn li-button primary w-100 mt-2" type="button" id="button-addon2">Visszahívást kérek</button>
            </div>
          </div>
           <!-- End of Form control -->
            </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End of Callback section -->
<!-- Numbers Block -->
<section class="py-5 text-center container">
  <div class="row py-md-5 py-3 d-flex align-items-center text-left">
    <div class="col-lg-12 col-12 col-md-6">
        <h2 class="li-text-bold li-text-25">Miért válaszd a Livliát?</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-4 text-center">
      <div class="li-img-placeholder showcase small">3x</div>
      <h2 class="li-text-12 mt-3 li-text-bold">Gyorsabb mint a legtöbb</h2>
    </div>
    <div class="col-12 col-md-4 text-center mt-3 mt-md-0">
      <div class="li-img-placeholder small"><img src="img/reviews.io.png" alt=""></div>
      <h2 class="li-text-12 mt-3 li-text-bold">4.8-as ügyfélértékelés</h2>
    </div>
    <div class="col-12 col-md-4 text-center mt-3 mt-md-0">
      <div class="li-img-placeholder showcase small"><div> 2.2 <small>millió Ft</small></div>  </div>
      <h2 class="li-text-12 mt-3 li-text-bold">Megtakarítás átlagosan</h2>
    </div>
  
  </div>
</section>
<!-- End of Numbers Block -->
<section class="container">
  <div class="row pt-md-5 d-flex align-items-center text-left">
    <div class="col-lg-12 col-12 col-md-6">
        <h2 class="li-text-bold li-text-25">Ügyfeleink véleménye</h2>
    </div>
  </div>
  <div class="row mt-4">
    <script src="https://widget.reviews.io/carousel-inline-iframeless/dist.js?_t=2021081912"></script>
    <link rel="stylesheet" href="https://assets.reviews.io/css/widgets/carousel-widget.css?_t=2021081912">
    <link rel="stylesheet" href="https://assets.reviews.io/iconfont/reviewsio-icons/style.css?_t=2021081912">
    <div id="reviewsio-carousel-widget"></div>
    <script>

      new carouselInlineWidget('reviewsio-carousel-widget',{
            /*Your REVIEWS.io account ID:*/
            store: 'livlia.com',
            sku: '',
            lang: 'en',
            carousel_type: 'default',
            styles_carousel: 'CarouselWidget--sideHeader--withcards',
      
            /*Widget settings:*/
            options:{
              general:{
                /*What reviews should the widget display? Available options: company, product, third_party. You can choose one type or multiple separated by comma.*/
                review_type: 'company, product',
                /*Minimum number of reviews required for widget to be displayed*/
                min_reviews: '1',
                /*Maximum number of reviews to include in the carousel widget.*/
                max_reviews: '20',
                address_format: 'CITY, COUNTRY',
                /*Carousel auto-scrolling speed. 3000 = 3 seconds. If you want to disable auto-scroll, set this value to false.*/
                enable_auto_scroll: 10000,
              },
              header:{
                /*Show overall rating stars*/
                enable_overall_stars: true,
              },
              reviews: {
                /*Show customer name*/
                enable_customer_name: true,
                /*Show customer location*/
                enable_customer_location: true,
                /*Show "verified review" badge*/
                enable_verified_badge: true,
                /*Show "I recommend this product" badge (Only for product reviews)*/
                enable_recommends_badge: true,
                /*Show photos attached to reviews*/
                enable_photos: true,
                /*Show videos attached to reviews*/
                enable_videos: true,
                /*Show when review was written*/
                enable_review_date: true,
                /*Hide reviews written by the same customer (This may occur when customer reviews multiple products)*/
                disable_same_customer: true,
                /*Minimum star rating*/
                min_review_percent: 4,
                /*Show 3rd party review source*/
                third_party_source: true,
                /*Hide reviews without comments (still shows if review has a photo)*/
                hide_empty_reviews: true,
                /*Show product name*/
                enable_product_name: true,
                /*Show only reviews which have specific tags (multiple comma separated tags allowed)*/
                tags: "",
                /*Show branch, only one input*/
                branch: "",
                enable_branch_name: false,
              },
              popups: {
                /*Make review items clickable (When they are clicked, a popup appears with more information about a customer and review)*/
                enable_review_popups:  true,
                /*Show "was this review helpful" buttons*/
                enable_helpful_buttons: true,
                /*Show how many times review was upvoted as helpful*/
                enable_helpful_count: true,
                /*Show share buttons*/
                enable_share_buttons: true,
              },
            },
            styles:{
              /*Base font size is a reference size for all text elements. When base value gets changed, all TextHeading and TexBody elements get proportionally adjusted.*/
              '--base-font-size': '16px',
              '--base-maxwidth':'100%',
      
              /*Logo styles:*/
              '--reviewsio-logo-style':'var(--logo-inverted)',
      
              /*Star styles:*/
              '--common-star-color':' #0E1311',
              '--common-star-disabled-color':' rgba(0,0,0,0.25)',
              '--medium-star-size':' 22px',
              '--small-star-size':'19px', /*Modal*/
              '--x-small-star-size':'16px',
              '--x-small-star-display':'inline-flex',
      
              /*Header styles:*/
              '--header-order':'1',
              '--header-width':'280px',
              '--header-bg-start-color':'#0E1311',
              '--header-bg-end-color':'#0E1311',
              '--header-gradient-direction':'135deg',
              '--header-padding':'1.5em',
              '--header-border-width':'0px',
              '--header-border-color':'rgba(0,0,0,0.1)',
              '--header-border-radius':'0px',
              '--header-shadow-size':'10px',
              '--header-shadow-color':'rgba(0, 0, 0, 0.05)',
      
              /*Header content styles:*/
              '--header-star-color':'#ffffff',
              '--header-disabled-star-color':'inherit',
              '--header-heading-text-color':'#ffffff',
              '--header-heading-font-size':'inherit',
              '--header-heading-font-weight':'inherit',
              '--header-heading-line-height':'inherit',
              '--header-heading-text-transform':'inherit',
              '--header-subheading-text-color':'#ffffff',
              '--header-subheading-font-size':'inherit',
              '--header-subheading-font-weight':'300',
              '--header-subheading-line-height':'inherit',
              '--header-subheading-text-transform':'inherit',
      
              /*Review item styles:*/
              '--item-maximum-columns':'5',/*Must be 3 or larger*/
              '--item-background-start-color':'#ffffff',
              '--item-background-end-color':'#ffffff',
              '--item-gradient-direction':'135deg',
              '--item-padding':'1.5em',
              '--item-border-width':'0px',
              '--item-border-color':'rgba(0,0,0,0.1)',
              '--item-border-radius':'0px',
              '--item-shadow-size':'10px',
              '--item-shadow-color':'rgba(0,0,0,0.05)',
      
              /*Heading styles:*/
              '--heading-text-color':' #0E1311',
              '--heading-text-font-weight':' 600',
              '--heading-text-font-family':' inherit',
              '--heading-text-line-height':' 1.4',
              '--heading-text-letter-spacing':'0',
              '--heading-text-transform':'none',
      
              /*Body text styles:*/
              '--body-text-color':' #0E1311',
              '--body-text-font-weight':'400',
              '--body-text-font-family':' inherit',
              '--body-text-line-height':' 1.4',
              '--body-text-letter-spacing':'0',
              '--body-text-transform':'none',
      
              /*Scroll button styles:*/
              '--scroll-button-icon-color':'#0E1311',
              '--scroll-button-icon-size':'24px',
              '--scroll-button-bg-color':'transparent',
      
              '--scroll-button-border-width':'0px',
              '--scroll-button-border-color':'rgba(0,0,0,0.1)',
      
              '--scroll-button-border-radius':'60px',
              '--scroll-button-shadow-size':'0px',
              '--scroll-button-shadow-color':'rgba(0,0,0,0.1)',
              '--scroll-button-horizontal-position':'3px',
              '--scroll-button-vertical-position':'0px',
      
              /*Badge styles:*/
              '--badge-icon-color':'#0E1311',
              '--badge-icon-font-size':'15px',
              '--badge-text-color':'#0E1311',
              '--badge-text-font-size':'inherit',
              '--badge-text-letter-spacing':'inherit',
              '--badge-text-transform':'inherit',
      
              /*Author styles:*/
              '--author-font-size':'inherit',
              '--author-font-weight':'inherit',
              '--author-text-transform':'inherit',
      
              /*Product photo or review photo styles:*/
              '--photo-video-thumbnail-size':'60px',
              '--photo-video-thumbnail-border-radius':'0px',
      
              /*Popup styles:*/
              '--popup-backdrop-color':'rgba(0,0,0,0.75)',
              '--popup-color':'#ffffff',
              '--popup-star-color':'inherit',
              '--popup-disabled-star-color':'inherit',
              '--popup-heading-text-color':'inherit',
              '--popup-body-text-color':'inherit',
              '--popup-badge-icon-color':'inherit',
              '--popup-badge-icon-font-size':'19px',
              '--popup-badge-text-color':'inherit',
              '--popup-badge-text-font-size':'14px',
              '--popup-border-width':'0px',
              '--popup-border-color':'rgba(0,0,0,0.1)',
              '--popup-border-radius':'0px',
              '--popup-shadow-size':'0px',
              '--popup-shadow-color':'rgba(0,0,0,0.1)',
              '--popup-icon-color':'#0E1311',
      
              /*Tooltip styles:*/
              '--tooltip-bg-color':'#0E1311',
              '--tooltip-text-color':'#ffffff',
            },
          });
      
      </script>
  </div>


</section>
<!-- Router Block -->
<partial src="router.html"></partial>
<!-- End of Router Block -->
<partial src="footer.html"></partial>