<partial src="header.html"></partial>

<!-- Hero section -->
<section class="py-5 text-center container-fluid text-white li-hero"
    style="background: url(https://ssl.cdn-redfin.com/v379.1.1/images/homepage/banners/genHomepageDesktopBanner/HP_2021_Q2_ModernFarmhouse_DESKTOP_HERO_BrighterSky_2.jpg); background-size: cover;">
    <div class="row py-lg-5 d-flex text-left position-relative z-999">
        <div class="col-sm-10 col-12 mx-auto">
            <div class="row py-5">
                <div class="col-md-9 col-12">
                    <h1 class="fw-light li-text-bold li-text-35">Kapcsolat</h1>
                    <h1 class="li-text-11 li-text-normal">Something short and leading about the collection below—its
                        contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply
                        skip over it entirely.</h1>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End of Hero section -->

<section class="py-5 text-center container text-white">
    <div class="row">
        <div class="col-12">
            <div class="li-default-border shadow-sm p-3"></div>
        </div>
    </div>
</section>

<!-- Router Block -->
<partial src="router.html"></partial>
<!-- End of Router Block -->
<partial src="footer.html"></partial>