<partial src="header_white.html"></partial>

<!-- Hero section -->
<section class="pt-e12 pb-e8 text-center container d-flex align-items-center">
  <div class="row d-flex w-100  text-left position-relative z-999">
    <div class="col-sm-12 col-12 d-flex w-100  align-items-center">
      <div class="row d-flex w-100 align-items-center">
        <div class="col-md-7 col-12">
          <h1 class="fw-light li-text-bold li-text-35">Livlia Kisokos</h1>
          <h1 class="li-text-11 li-text-normal">Minden információ, amire szükséged lehet ingatlanod eladás, kiadása, vagy ingatlan vásárlás során.</h1>
        </div>
        <div class="col-md-5 d-none d-md-flex text-center justify-content-center d-flex    ">
            <img src="./img/clist.svg" width="130" alt="">
        </div>
      </div>
  
    </div>
  </div>
</section>
<!-- End of Hero section -->
<!-- CTA Block -->
<section class="pt-5 text-center container">
    <div class="row py-lg-5 d-flex align-items-center text-left">
        <div class="col-lg-12 col-12 col-md-6">
            <h1 class="li-text-bold li-text-25">Kezd itt</h1>
        </div>
        <div class="col-lg-12 col-12 mt-md-5">
          <div class="row">
              <div class="col-12 col-md-4">
                  <div class="card shadow-sm p-3 li-text-bold li-text-14 d-flex align-items-center"> <div class="d-flex"><img src="./img/clist.svg" class="me-2" width="30" alt="">Csomagok</div></div>
              </div>
              <div class="col-12 col-md-4">
                <div class="card shadow-sm p-3 li-text-bold li-text-14 d-flex align-items-center"> <div class="d-flex"><img src="./img/clist.svg" class="me-2" width="30" alt="">Dokumentumok</div></div>
            </div>
            <div class="col-12 col-md-4">
                <div class="card shadow-sm p-3 li-text-bold li-text-14 d-flex align-items-center"> <div class="d-flex"><img src="./img/clist.svg" class="me-2" width="30" alt="">Tippek&Trükkök</div></div>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-12 col-md-4">
                <div class="card shadow-sm p-3 li-text-bold li-text-14 d-flex align-items-center"> <div class="d-flex"><img src="./img/clist.svg" class="me-2" width="30" alt="">Értékbecslés</div></div>
            </div>
            <div class="col-12 col-md-4">
              <div class="card shadow-sm p-3 li-text-bold li-text-14 d-flex align-items-center"> <div class="d-flex"><img src="./img/clist.svg" class="me-2" width="30" alt="">Visszatérítés</div></div>
          </div>
          <div class="col-12 col-md-4">
              <div class="card shadow-sm p-3 li-text-bold li-text-14 d-flex align-items-center"> <div class="d-flex"><img src="./img/clist.svg" class="me-2" width="30" alt="">Kuponok</div></div>
          </div>
        </div>
        </div>
    </div>
</section>
<!-- End of CTA Block -->
<!-- Router Block -->
<partial src="router_buyer.html"></partial>
<!-- End of Router Block -->
<partial src="footer.html"></partial>