<partial src="header.html"></partial>

<!-- Hero section -->
<section class="py-5 text-center container-fluid text-white li-hero"
    style="background: url(https://livlia.com/assets/images/team/management.jpg); background-size: cover; background-position-y: center;">
    <div class="row py-lg-5 d-flex text-left position-relative z-999">
        <div class="col-sm-10 col-12 mx-auto">
            <div class="row py-5">
                <div class="col-md-9 col-12">
                    <h1 class="fw-light li-text-bold li-text-35">Kik vagyunk?<br>Mi a küldetésünk?</h1>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End of Hero section -->

<!-- Brands -->
<section class="text-center container-fluid py-5 li-grayscale-container li-max-img-100-container">
    <div class="row">
      <div class="col-lg-2 col-6 d-flex align-items-center justify-content-center offset-lg-2">
        <img src="img/rtl.png" class="img-fluid" alt="">
      </div>
      <div class="col-lg-2 col-6 d-flex align-items-center justify-content-center">
        <img src="img/tv2.png" class="img-fluid" alt="">
      </div>
      <div class="col-lg-2 col-6 mt-3 mt-md-0 d-flex align-items-center justify-content-center">
        <img src="img/forbes-logo.svg" class="img-fluid" alt="">
      </div>
      <div class="col-lg-2 col-6 mt-3 mt-md-0 d-flex align-items-center justify-content-center">
        <img src="img/portfolio.png" class="img-fluid" alt="">
      </div>
    </div>
  </section>
  <!-- End of Brands -->

<!-- CTA Block -->
<section class="text-center container">
    <div class="row py-lg-5 d-flex align-items-center text-left">
        <div class="col-lg-12 col-12 col-md-6 mt-3 mt-md-0">
            <div class="pt-md-5">
                <h1 class="li-text-bold li-text-1 li-text-spaced text-uppercase">Misszió</h1>
                <h2 class="li-text-16 li-text-bold">Küldetésünk, hogy megreformáljuk és olyanná tegyük az
                    ingatlanpiacot, amilyennek mindig is lennie kellett volna. A Livlia azért született, hogy korszerű
                    megoldásokkal és innovatív működésével fellendítse és újra értelmezze az ingatlanértékesítést
                    hazánkban és a régióban egyaránt.
                </h2>
            </div>
        </div>
    </div>
</section>
<!-- End of CTA Block -->

<!-- CTA Block -->
<section class="pb-5 text-center container">
    <div class="row d-flex align-items-center text-left">
        <div class="col-lg-12 col-12 col-md-6 mt-3 mt-md-0">
            <div class="py-md-5">
                <h1 class="li-text-bold li-text-1 li-text-spaced text-uppercase">Történetünk</h1>
                <div class="row mt-3">
                    <div class="col-12 col-md-6">
                        <p> Ebben a szellemben indítottuk el 2017 októberében a Livlia első ingatlanpiaci szolgáltatását. Az elmúlt három évben a Livlia szolgáltatásai viszonyítási pontjai lettek a hazai online ingatlanpiac fejlődésének. </p><p>2018-tól az ingatlanportál szolgáltatási irány mellett elindítottuk nagyvállalati szoftveres megoldásunkat, amelynek keretében hatékonyságnövelő megoldásokat nyújtunk a piac vezető szereplőinek itthon és külföldön egyaránt. </p><p>Mindezek a folyamatok, a nemzetközi trendekkel és a piaci igényekkel való összhangban vezettek el a Livlia legutóbbi mérföldkövéhez, amely a 2020-ban bevezetett, innovatív online ingatlanértékesítési szolgáltatásban öltött testet. </p>
                    </div>
                    <div class="col-12 col-md-6">
                        <p>A Livliát a kezdetektől fogva az elfogadás, értékteremtés, az újdonságokra és technológiai innovációkra való nyitottság jellemezte, amelynek köszönhetően bízunk benne, hogy nem csak az ügyfeleink számára nyújtunk az igényeiknek megfelelő szolgáltatást, de egyben úttörők és ösztönzők is leszünk valamennyi ingatlanpiaci szereplő számára. </p>
                        <p>Őszintén hisszük, hogy ügyfeleink és partnereink odaadó támogatásával egyszerűbbé, átláthatóbbá, tisztábbá és emberibbé tehetjük a hazai és regionális online ingatlanpiacot. Ezen dolgozunk. Veletek. Együtt. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End of CTA Block -->

<!-- CTA Block -->
<section class=" text-center container">
    <div class="row d-flex align-items-center text-left">
        <div class="col-lg-12 col-12 col-md-6 mt-3 mt-md-0">
            <div class="py-md-5">
                <h1 class="li-text-bold li-text-1 li-text-spaced text-uppercase">Stratégiai partnereink</h1>
                <div class="row mt-3 d-flex w-100 align-items-center">
                    <div class="col-12 col-md-4">
                       <img src="./img/livliaotpip.png" class="li-max-w-300" alt="Livlia-OTPIP">
                    </div>
                    <div class="col-12 col-md-4">
                        <img src="./img/cordia.png" class="li-max-w-300" alt="Livlia-CORDIA">
                    </div>
                   
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End of CTA Block -->

<!-- CTA Block -->
<section class="pb-5 text-center container">
    <div class="row d-flex align-items-center text-left">
        <div class="col-lg-12 col-12 col-md-6 mt-3 mt-md-0">
            <div class="py-md-5">
                <h1 class="li-text-bold li-text-1 li-text-spaced text-uppercase">Elismeréseink</h1>
                <div class="row mt-3 d-flex w-100 align-items-center">
                    <div class="col-12 col-md-4">
                       <img src="./img/cesa2018.jpeg" class="li-max-w-300" alt="Livlia-CESA">
                    </div>
                    <div class="col-12 col-md-4">
                        <img src="./img/cesa2019.jpeg" class="li-max-w-300" alt="Livlia-CESA">
                    </div>
                    <div class="col-12 col-md-4">
                        <img src="./img/eu.png" class="li-max-w-300" alt="Livlia-EU">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End of CTA Block -->

<!-- CTA Block -->
<section class="pb-5 text-center container">
    <div class="row d-flex align-items-center text-left">
        <div class="col-lg-12 col-12 col-md-6 mt-3 mt-md-0">
            <div class="py-md-5">
                <h1 class="li-text-bold li-text-1 li-text-spaced text-uppercase">Életképek</h1> 
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-7">
            <div class="li-gallery-masonry-image" style="background: url(./img/csapat4.jpg); background-size: cover; background-position-y: center;  background-position-x: center;"></div>
        </div>
        <div class="col-12 col-md-5">
            <div class="li-gallery-masonry-image" style="background: url(./img/csapat2.jpg); background-size: cover; background-position-y: center; background-position-x: center;"></div>
        </div>
        <div class="col-12 col-md-4 mt-4">
            <div class="li-gallery-masonry-image" style="background: url(./img/csapat2.jpg); background-size: cover; background-position-y: center;"></div>
        </div>
        <div class="col-12 col-md-8 mt-4">
            <div class="li-gallery-masonry-image" style="background: url(./img/csapat1.jpg); background-size: cover; background-position-y: center; background-position-x: center;"></div>
        </div>
    </div>
</section>
<!-- End of CTA Block -->



<!-- Router Block -->
<partial src="router.html"></partial>
<!-- End of Router Block -->
<partial src="footer.html"></partial>