<partial src="header.html"></partial>

<!-- Hero section -->
<section class="py-5 text-center container-fluid d-flex align-items-center text-white li-hero fixed-height" style="background: url(https://images.unsplash.com/photo-1588587241551-2bb0d9c2a509?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1487&q=80); background-size: cover;">
  <div class="row py-lg-5 d-flex text-left position-relative z-999">
    <div class="col-sm-10 col-12 mx-auto">
      <div class="row">
        <div class="col-md-9 col-12">
          <h1 class="fw-light li-text-bold li-text-35">Biztonságos vásárlás. Pénzvisszatérítés.</h1>
          <h1 class="li-text-11 li-text-normal">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</h1>
        </div>
      </div>
  
    </div>
  </div>
</section>
<!-- End of Hero section -->
<!-- CTA Block -->
<section class="py-5 text-center container">
    <div class="row py-lg-5 d-flex align-items-center text-left">
        <div class="col-lg-6 col-12 col-md-6 py-lg-5">
            <h1 class="li-text-bold li-text-25">Miért vásárolj a Livliával?</h1>
        </div>
        <div class="col-lg-6 col-12 col-md-6 mt-3 mt-md-0">
            <div class="px-md-5">
                <div class="li-showcase-list py-3"><h5 class="li-text-bold mb-0">+ Hatalmas kínálat</h5></div>
                <div class="li-showcase-list py-3"><h5 class="li-text-bold mb-0">+ Biztonságos vásárlás</h5></div>
                <div class="li-showcase-list py-3"><h5 class="li-text-bold mb-0">+ Pénzvisszatérítés</h5></div>
                <div class="li-showcase-list py-3"><h5 class="li-text-bold mb-0">+ Prémium támogatás</h5></div>
                <div class="li-showcase-list py-3"><h5 class="li-text-bold mb-0">+ Szakértői segítség</h5></div>
            </div>
        </div>
    </div>
</section>
<!-- End of CTA Block -->
<!-- Callback section -->
<section class="py-md-5 text-center container-fluid li-bg-light li-bg-white-xs">
    <div class="row d-flex text-left">
      <div class="col-lg-10 mx-auto">
        <div class="row py-lg-5 d-flex align-items-center text-left">
          <div class="col-lg-5 col-12 col-md-5">
              <div class="li-img-placeholder tall light" style="background: url(https://ssl.cdn-redfin.com/v379.2.1/images/sellerConsult/redfin-agents.jpg); background-size: cover;"></div>
          </div>
          <div class="col-lg-7 col-12 col-md-7 mt-3 mt-md-0">
            <div class="px-md-5">
              <h2 class="li-text-bold li-text-25">Beszélj egy Livlia tanácsadóval</h2>
                <h2 class="li-text-11">Algoritmusaink és szakértőink segítenek meghatározni ingatlanod optimális árát, így gyorsan, az elérhető legmagasabb áron tudod értékesíteni azt. </h2>
                <div class="input-group mt-4">
                  <input type="text" class="form-control p-2 px-3" placeholder="Telefonszám">
                  <button class="btn li-button primary" type="button" id="button-addon2">Visszahívást kérek</button>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End of Callback section -->
  <!-- CTA Block -->
<section class="py-5 text-center container">
    <div class="row py-lg-5 d-flex align-items-center text-left">
        <div class="col-lg-6 col-12 col-md-6 py-lg-5">
            <h1 class="li-text-bold li-text-25">Hogyan működik?</h1>
        </div>
        <div class="col-lg-6 col-12 col-md-6 mt-3 mt-md-0">
            <div class="px-md-5">
                <div class="li-showcase-list py-3"><h5 class="li-text-bold mb-0">+ Hatalmas kínálat</h5></div>
                <div class="li-showcase-list py-3"><h5 class="li-text-bold mb-0">+ Biztonságos vásárlás</h5></div>
                <div class="li-showcase-list py-3"><h5 class="li-text-bold mb-0">+ Pénzvisszatérítés</h5></div>
                <div class="li-showcase-list py-3"><h5 class="li-text-bold mb-0">+ Prémium támogatás</h5></div>
                <div class="li-showcase-list py-3"><h5 class="li-text-bold mb-0">+ Szakértői segítség</h5></div>
            </div>
        </div>
    </div>
</section>
<!-- End of CTA Block -->
<!-- Router Block -->
<partial src="router_buyer.html"></partial>
<!-- End of Router Block -->
<partial src="footer.html"></partial>