<partial src="header.html"></partial>

<!-- Hero section -->
<section class="py-5 text-center container-fluid d-flex align-items-center text-white li-hero strong-after fixed-height" style="background: url(https://ssl.cdn-redfin.com/v380.4.0/images/merch/generalImages/concierge_3_3.jpg); background-size: cover;">
  <div class="row py-lg-5 d-flex text-left position-relative z-999">
    <div class="col-sm-10 col-12 mx-auto">
      <div class="row">
        <div class="col-md-9 col-12">
          <h1 class="fw-light li-text-bold li-text-35">Pénzvisszatérítés. Ilyen egyszerű.</h1>
          <h1 class="li-text-11 li-text-normal">Valamennyi Livlia által biztosított ingatlan esetén jutaléjunk 20%-át visszaadjuk a vevőnek.</h1>
        </div>
      </div>
  
    </div>
  </div>
</section>
<!-- End of Hero section -->
<!-- CTA Block -->
<section class="pt-5 text-center container">
    <div class="row py-lg-5 d-flex align-items-center text-left">
        <div class="col-lg-6 col-12 col-md-6 py-lg-5">
            <h1 class="li-text-bold li-text-25">Mit jelent a visszatérítés?</h1>
        </div>
        <div class="col-lg-6 col-12 col-md-6 mt-3 mt-md-0">
            <div class="px-md-5">
                <div class="li-showcase-list py-3"><h5 class="li-text-bold mb-0">+ Milyen ingatlanokra jár a visszatérítés?</h5></div>
                <div class="li-showcase-list py-3"><h5 class="li-text-bold mb-0">+ Mennyi a visszatérítés?</h5></div>
                <div class="li-showcase-list py-3"><h5 class="li-text-bold mb-0">+ Milyen kuponokra váltható be?</h5></div>
            </div>
        </div>
    </div>
</section>
<!-- End of CTA Block -->
<!-- Router Block -->
<partial src="router_buyer.html"></partial>
<!-- End of Router Block -->
<partial src="footer.html"></partial>